@import 'thead';
$font-main: Arial, Helvetica, sans-serif;
$tb-back: #5e5d5d;
$brd: 2px solid #ddd;

.tblProdutos{
    font-family: $font-main;
    border-collapse: collapse;
    width: 100vw;

    td, th {
        border: $brd;
        padding: 1vh 1vw;
    }

    tr {
        &:nth-child(even){
            background-color: $tb-back;
        }
        &:hover {
            background-color: #a6c1c2;
        }
    }
}