.tblProdutos{
    font-family: Arial, Helvetica, sans-serif,Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100vw;
}

.tblProdutos td, .tblProdutos th {
    border: 2px solid #ddd;
    padding: 1vh 1vw;
}

.tblProdutos tr:nth-child(even){
    background-color: #5e5d5d;
}

.tblProdutos tr:hover{
    background-color: #a6c1c2;
}