//CRIANDO VARIAVEIS
$back-color : #140e0e;
$text-color : #fff;


body{
    background-color: #1d052cec;
    color: #fff;
}

div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    p{
    color: #0000ff;
    }
}