//Criando Variáveis....
$backcolor: #14ec;
$textcolor: #fff;


body{
    background-color: $backcolor;
    color: $textcolor;
}

div {
    font-family: sans-serif;
    
    p{
    color: #000fff;
}

}