$back-color : #202020;
$color-font: #fff;

body {
    background-color: $back-color;
    color: $color-font;
}

div {
    font-family: Arial, Helvetica, sans-serif; 
    p {
        color: dodgerblue;
        
    }
}